<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" formControlName="name" #name />
        </div>
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['name'].errors.required">
            Person Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">SurName</label>
          <input type="text" class="form-control" formControlName="surname" #surname />
        </div>
        <div *ngIf="angForm.controls['surname'].invalid && (angForm.controls['surname'].dirty || angForm.controls['surname'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['surname'].errors.required">
            Surname is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Email </label>
          <input type="text" class="form-control" formControlName="email" #email />
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">
              Email is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Tlf</label>
          <input type="text" class="form-control" formControlName="tlf" #tlf />
        </div>
        <div *ngIf="angForm.controls['tlf'].invalid && (angForm.controls['tlf'].dirty || angForm.controls['tlf'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['tlf'].errors.required">
              Tlf is required.
          </div>
        </div>
        <div class="form-group">
          <button type="submit" 
          [disabled]="angForm.pristine || angForm.invalid" 
          class="btn btn-primary" (click)="addUser()">Add User</button>
        </div>
      </form>
    </div>
  </div>