<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" formControlName="name" #name [(ngModel)] = "angForm.controls['name'].value" />
        </div>
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">SurName </label>
          <input type="text" class="form-control" formControlName="surname" #surname [(ngModel)] = "angForm.controls['surname'].value" />
        </div>
        <div *ngIf="angForm.controls['surname'].invalid && (angForm.controls['surname'].dirty || angForm.controls['surname'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['surname'].errors.required">
            Surname is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Email </label>
          <input type="text" class="form-control" formControlName="email" #email [(ngModel)] = "angForm.controls['email'].value" />
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">
            Email is required.
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Tlf </label>
            <input type="text" class="form-control" formControlName="tlf" #tlf [(ngModel)] = "angForm.controls['tlf'].value" />
          </div>
        <div *ngIf="angForm.controls['tlf'].invalid && (angForm.controls['tlf'].dirty || angForm.controls['tlf'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['tlf'].errors.required">
              TLF Number is required.
            </div>
          </div>
        <div class="form-group">
          <button (click)="updateUser(angForm.controls['id'].value)"
          [disabled]="angForm.invalid" 
          class="btn btn-primary">Update user</button>
        </div>
      </form>
    </div>
  </div>
