<table class="table table-hover">
    <thead>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Email</td>
        <td>Tlf</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.tlf }}</td>
            <td><a [routerLink]="['edit', user._id]" class="btn btn-primary">Edit</a></td>
            <td><a (click)="deleteUser(user._id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-danger" [routerLink]="['/users/create']" routerLinkActive="router-link-active" >Create User</button>